body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    text-align: center;
    padding: 10px;
    border: 1px solid coral;
    width: 100%;
    margin-bottom: 50px;
}

#container {
    border: 1px solid plum;
    width: 500px;
    height: 500px;
}