body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#header {
    text-align: center;
    padding: 10px;
    border: 1px solid coral;
    width: 100%;
    margin-bottom: 50px;
}

#container {
    border: 1px solid plum;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    box-sizing:border-box;
    border: 1px solid white;
    background-color: coral;
    /* flex-basis: 33.33%; /* this is changed based on the user input*/ 
}