body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavender;
}

#header {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 2px;
}

#controls {
    margin: 10px;
    padding: 10px;
}

#container {
    margin: 10px;
    border: 2px solid plum;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

#footer {
    text-align: center;
    margin: 10px;
}

.square {
    box-sizing:border-box;
    border: 1px solid white;
    background-color: plum;
    /* flex-basis: 33.33%; /* this is changed based on the user input*/ 
}

button {
    border: 0;
    background-color: coral;
    padding: 8px;
}

button:hover {
    background-color: plum;
}

input {
    border: 1px solid plum;
    padding: 8px;
    background-color: white;
}